.container {
    position: relative;
    justify-content: space-around;
    height: 200px;
    width: 70%;
    top: -225px;
    justify-self: center;
    display: flex;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}
.card {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: white;
    text-align: center;
    align-content: end;
    position: relative;
    overflow: hidden;
}
.card h5 {
    color: white;
    align-items: center;
    position: relative;
    top: -50px;
    text-shadow: 0px 0px 5px #000000;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0)
    );
}