nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    /* background-color: #b3b094; */
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    display: inline-block;
    margin: 0px 20px 0px 20px 
}

.nav-container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: #574837; */
}

input {
    width: 100%;
    margin: 0px 20px 0px 20px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(87,72,55,0.1);
    border: hidden;
}

.icons {
    /* width: 30%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 20px;
    /* background-color: blueviolet; */
}

.cart-icon,
.user-icon,
.heart-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color:  #574837;
}

/*  HAMBURGUERMENU  */

.hamburger-menu {
    cursor: auto;
}