nav {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    /* background-color: #b3b094; */
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    display: inline-block;
    margin: 0px 20px 0px 20px 
}

.nav-container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    /* background-color: #574837; */
}

input {
    width: 100%;
    margin: 0px 20px 0px 20px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(87,72,55,0.1);
    border: hidden;
}

.icons {
    /* width: 30%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 20px;
    /* background-color: blueviolet; */
}

.cart-icon,
.user-icon,
.heart-icon {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color:  #574837;
}

/*  HAMBURGUERMENU  */

.hamburger-menu {
    cursor: auto;
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: transparent;
    border: transparent;
}
.toggle-menu {
    left: 0;
    position: absolute;
    height: 90vh;
    background-image:linear-gradient(to bottom right, white, rgb(212,184,149) 200%);
    width: 30%;
    top: 10vh;
    z-index: 1;
    box-shadow: 10px 8px 16px -6px rgba(0, 0, 0, 0.2);
}