nav {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
}

.logo {
    display: inline-block;
    margin: 0px 0px 0px 25px 
}
.nav-links{
    list-style: none;
    /* background-color:darkslategray; */
    padding: 0px;
    display: flex;
    width: 38%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
}
nav > ul {
    display: flex;
    gap: 20px
}
.item {
    position: relative;
    cursor: pointer;
    /* background-color: chocolate; */
    padding: 10px;
}
.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    display: none;
    background: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin:0px;
    padding: 0px;
}
.submenu li {
    padding: 5px 15px;
    white-space: nowrap;
}
.submenu li:hover {
    background: #747bff;
}
.item:hover .submenu {
    display: block;
}

input {
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.icons {
    width: 30%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: blueviolet; */
    margin-right: 10px;
}

.cart-icon,
.user-icon,
.heart-icon {
    margin-left: 10px;
    cursor: pointer;
}