.container {
    position: relative;
    justify-content: space-around;
    height: 200px;
    width: 70%;
    top: -225px;
    justify-self: center;
    display: flex;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}
.card {
    width: 200px;
    height: 230px;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    justify-items: start;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 120px;
    border-radius: 0%;
    display: flex;
    /* object-fit: cover; */
}
.title {
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-height: auto;
    margin-left: 15px;
    margin-bottom: 0;
}
.price {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 0;
}
.addCart {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(243, 192, 129);
    border: 1px solid rgb(202, 144, 74);
    font-size: 13px;
    border-radius: 6px;
    padding: 0px 15px 0px 15px;
    align-self: end;
}
.addCart:hover {
    background-color: rgb(233, 151, 52);
    box-shadow: 0px 0px 10px rgb(228, 183, 128);
}