:root {
  font-family:Georgia, 'Times New Roman', Times, serif
}

a {
  color:  #574837 !important;
  text-decoration: inherit !important;
}
a:hover {
  color: #9e774a !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image:linear-gradient(to bottom right, white, rgb(212,184,149));
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
